# BigData Capstone

## Group: U_Data

    Members:
    
    Aroob Almutairi 
    
    Abdulrahman Alosaimi
    
    Duaa Al saad 
    
    Fatimah Alateeq
    
    Ghaliah mohammedhussein

## Data describtion
- Convert U.S. to US to avoid periods.
- Convert Unknown to "?"

Data Set Information:

Extraction was done by Barry Becker from the 1994 Census database. A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))

Prediction task is to determine whether a person makes over 50K a year.

- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt(final weight): The number of people the census takers believe that observation represents, continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
- >50K, <=50K

- references:
- https://archive.ics.uci.edu/ml/datasets/adult

In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
#lets import our usual suspects
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

#pyspark related imports
import pyspark
from pyspark.sql.functions import col, isnan, when, count
from pyspark.ml.feature import Imputer, VectorAssembler, StringIndexer
from pyspark.sql.functions import *
from pyspark.sql import functions as f
from pyspark.ml.regression import RandomForestRegressor, DecisionTreeRegressor, GBTRegressor, LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator

from pyspark.ml.classification import DecisionTreeClassifier, RandomForestClassifier, LogisticRegression, GBTClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator


from pyspark.ml.tuning import CrossValidator, ParamGridBuilder, CrossValidatorModel
from pyspark.ml import Pipeline

In [3]:
spark = pyspark.sql.SparkSession.builder.config("spark.executor.memory", "8g").config("spark.driver.memory", "8g").getOrCreate()

## Preprocessing

1. Replacing the '?' in all the columns with Not-specified
2. Make the values for education consistant
3. Change the values for salary to be 0 if <=50k, and 1 if >50k
4. Summing the values for the fnlwgt column, and getting the percentage of fnlwgt
5. The diffrence of  capital gain and loss
6. Finding if someone is workholic which is 1, or no which is 0

## PySpark

In [4]:
# Load the dataset.
dfs = spark.read.csv('adult1m.csv',inferSchema=True,header=False)

In [5]:
# Rename columns
columns_names=['age','workclass','fnlwgt','education','education_num','marital_status','occupation','relationship','race','gender','capital_gain','capital_loss','hours_per_week','native_country','salary']
i=0
for colm in columns_names:
    dfs=dfs.withColumnRenamed('_c{}'.format(i),colm)
    i=i+1

In [6]:
# The data Shape
print(dfs.count(), len(dfs.columns))
dfs.printSchema()

1000000 15
root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- education_num: integer (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- capital_gain: integer (nullable = true)
 |-- capital_loss: integer (nullable = true)
 |-- hours_per_week: integer (nullable = true)
 |-- native_country: string (nullable = true)
 |-- salary: string (nullable = true)

In [7]:
dfs.show(5)

+---+----------------+------+---------+-------------+------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|education|education_num|    marital_status|       occupation| relationship| race|gender|capital_gain|capital_loss|hours_per_week|native_country|salary|
+---+----------------+------+---------+-------------+------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
| 39|       State-gov| 77516|Bachelors|           13|     Never-married|     Adm-clerical|Not-in-family|White|  Male|        2174|           0|            40| United-States| <=50K|
| 50|Self-emp-not-inc| 83311|Bachelors|           13|Married-civ-spouse|  Exec-managerial|      Husband|White|  Male|           0|           0|            13| United-States| <=50K|
| 38|         Private|215646|  HS-grad|            9|          Divorced|Handlers-cleaners|Not-in-family|White|  Male|           0|           0|            40| United-States| <=50K|
| 53|         Private|234721|     11th|            7|Married-civ-spouse|Handlers-cleaners|      Husband|Black|  Male|           0|           0|            40| United-States| <=50K|
| 28|         Private|338409|Bachelors|           13|Married-civ-spouse|   Prof-specialty|         Wife|Black|Female|           0|           0|            40|          Cuba| <=50K|
+---+----------------+------+---------+-------------+------------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 5 rows

In [8]:
# To EDA in SQL
dfs.registerTempTable('dfs')

C:\Users\rooob\anaconda3\lib\site-packages\pyspark\sql\dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [9]:
# Value counts each column
for i in dfs.columns:
    dfs_result = spark.sql('SELECT `{}`, count(`{}`) FROM dfs group by 1 order by 2 desc'.format(i,i)) #first we select the subset of data
    dfs_result.show(50)
# No weird values
# ? is the NaN values

+---+----------+
|age|count(age)|
+---+----------+
| 37|     14347|
| 35|     14257|
| 31|     14250|
| 30|     14241|
| 24|     14224|
| 29|     14215|
| 28|     14205|
| 25|     14188|
| 36|     14182|
| 41|     14172|
| 44|     14145|
| 45|     14103|
| 39|     14091|
| 43|     14080|
| 34|     14069|
| 22|     14052|
| 33|     14045|
| 20|     14042|
| 23|     14032|
| 38|     14031|
| 47|     14020|
| 26|     14018|
| 42|     13990|
| 32|     13971|
| 40|     13940|
| 53|     13917|
| 48|     13888|
| 27|     13883|
| 18|     13854|
| 21|     13848|
| 46|     13802|
| 49|     13793|
| 50|     13789|
| 51|     13782|
| 17|     13758|
| 19|     13756|
| 58|     13725|
| 57|     13719|
| 55|     13703|
| 54|     13671|
| 52|     13636|
| 66|     13619|
| 56|     13566|
| 65|     13564|
| 59|     13518|
| 70|     13511|
| 64|     13490|
| 67|     13460|
| 63|     13438|
| 78|     13411|
+---+----------+
only showing top 50 rows

+----------------+----------------+
|       workclass|count(workclass)|
+----------------+----------------+
|         Private|          130005|
|Self-emp-not-inc|          110521|
|               ?|          109731|
|       Local-gov|          109507|
|       State-gov|          108856|
|     Federal-gov|          108441|
|    Self-emp-inc|          108217|
|     Without-pay|          107699|
|    Never-worked|          107023|
+----------------+----------------+

+------+-------------+
|fnlwgt|count(fnlwgt)|
+------+-------------+
|125461|           76|
| 63814|           75|
|108435|           73|
|174788|           72|
|159549|           72|
| 80574|           71|
|295282|           71|
|306467|           71|
|194682|           70|
|285263|           70|
|112929|           70|
| 29174|           70|
|604506|           70|
|168906|           70|
|291192|           69|
|153471|           69|
|162228|           69|
|112383|           69|
|182687|           69|
| 30219|           69|
|185407|           69|
|314182|           69|
|168221|           69|
|192965|           69|
| 81548|           68|
|109413|           68|
|129912|           68|
| 44363|           68|
| 37482|           68|
|168981|           68|
|171242|           68|
|193882|           68|
| 53260|           68|
|101020|           68|
|317360|           68|
|193920|           68|
|205504|           68|
|262684|           68|
|138514|           68|
|175674|           68|
|171615|           67|
|148429|           67|
|219262|           67|
|119891|           67|
|165694|           67|
|150084|           67|
|171419|           67|
|101017|           67|
| 34998|           67|
|225780|           67|
+------+-------------+
only showing top 50 rows

+------------+----------------+
|   education|count(education)|
+------------+----------------+
|     HS-grad|           71205|
|Some-college|           67606|
|   Bachelors|           65953|
|        11th|           61898|
|   Assoc-voc|           61762|
|     Masters|           61648|
|  Assoc-acdm|           61486|
|        10th|           61443|
|     7th-8th|           61218|
|   Doctorate|           61039|
|     5th-6th|           60959|
|        12th|           60908|
|         9th|           60879|
|     1st-4th|           60767|
| Prof-school|           60711|
|   Preschool|           60518|
+------------+----------------+

+-------------+--------------------+
|education_num|count(education_num)|
+-------------+--------------------+
|            9|               70891|
|           10|               67427|
|           13|               65664|
|           14|               62508|
|           11|               61947|
|           12|               61728|
|            7|               61579|
|            6|               61502|
|           15|               61366|
|            5|               61240|
|            8|               61135|
|            4|               61082|
|            3|               60953|
|           16|               60951|
|            2|               60079|
|            1|               59948|
+-------------+--------------------+

+--------------------+---------------------+
|      marital_status|count(marital_status)|
+--------------------+---------------------+
|  Married-civ-spouse|               153361|
|       Never-married|               147892|
|            Divorced|               143001|
|             Widowed|               139482|
|           Separated|               139429|
|   Married-AF-spouse|               138486|
|Married-spouse-ab...|               138349|
+--------------------+---------------------+

+-----------------+-----------------+
|       occupation|count(occupation)|
+-----------------+-----------------+
|     Craft-repair|            68950|
|  Exec-managerial|            68780|
|   Prof-specialty|            68411|
|    Other-service|            68233|
|            Sales|            68173|
|     Adm-clerical|            67960|
|Machine-op-inspct|            66402|
|                ?|            66254|
|Handlers-cleaners|            66120|
| Transport-moving|            66032|
|     Tech-support|            65487|
|  Farming-fishing|            65323|
|  Protective-serv|            64940|
|  Priv-house-serv|            64523|
|     Armed-Forces|            64412|
+-----------------+-----------------+

+--------------+-------------------+
|  relationship|count(relationship)|
+--------------+-------------------+
|       Husband|             173999|
| Not-in-family|             170334|
|     Own-child|             166055|
|     Unmarried|             164685|
|          Wife|             162599|
|Other-relative|             162328|
+--------------+-------------------+

+------------------+-----------+
|              race|count(race)|
+------------------+-----------+
|             White|     221239|
|             Black|     196853|
|Asian-Pac-Islander|     194364|
|Amer-Indian-Eskimo|     194177|
|             Other|     193367|
+------------------+-----------+

+------+-------------+
|gender|count(gender)|
+------+-------------+
|  Male|       505923|
|Female|       494077|
+------+-------------+

+------------+-------------------+
|capital_gain|count(capital_gain)|
+------------+-------------------+
|           0|              38028|
|       15024|               8517|
|        7298|               8436|
|        3103|               8369|
|        2174|               8331|
|        7688|               8328|
|        3411|               8325|
|        2062|               8311|
|        8614|               8299|
|        3137|               8299|
|        3325|               8294|
|        7896|               8292|
|        7443|               8285|
|        2290|               8282|
|        2036|               8281|
|        5556|               8280|
|       99999|               8273|
|       15020|               8265|
|        2202|               8262|
|        2829|               8260|
|        4101|               8259|
|        6723|               8250|
|        1506|               8248|
|        4386|               8244|
|        1455|               8235|
|        2228|               8233|
|        4416|               8225|
|        2387|               8221|
|        7978|               8221|
|       22040|               8218|
|       27828|               8217|
|       15831|               8216|
|       13550|               8212|
|        5178|               8212|
|        1055|               8208|
|        3471|               8203|
|        5721|               8202|
|        2580|               8202|
|        2354|               8202|
|        2961|               8195|
|        2977|               8189|
|        6514|               8187|
|        5455|               8185|
|        3464|               8182|
|       14084|               8177|
|        5013|               8177|
|        3887|               8176|
|       11678|               8172|
|        2050|               8168|
|        6097|               8166|
+------------+-------------------+
only showing top 50 rows

+------------+-------------------+
|capital_loss|count(capital_loss)|
+------------+-------------------+
|           0|              41687|
|        1887|              10794|
|        2339|              10773|
|        2824|              10746|
|        1602|              10744|
|        2231|              10738|
|         880|              10731|
|        1902|              10707|
|        1648|              10698|
|        1672|              10696|
|        1485|              10695|
|        1848|              10687|
|        1825|              10684|
|        2415|              10682|
|        1977|              10674|
|        1741|              10663|
|        1726|              10660|
|        2002|              10635|
|        1974|              10629|
|        2001|              10622|
|         323|              10605|
|        1340|              10605|
|        4356|              10603|
|        1755|              10603|
|        1617|              10602|
|        2754|              10595|
|        1668|              10591|
|        2205|              10590|
|        1876|              10590|
|        2042|              10590|
|        2444|              10583|
|        2149|              10582|
|        1138|              10576|
|        1092|              10576|
|        2267|              10572|
|        1816|              10568|
|         653|              10568|
|         155|              10566|
|        1651|              10564|
|        1564|              10562|
|        2282|              10557|
|        2238|              10557|
|        1628|              10552|
|        2467|              10549|
|        2547|              10542|
|        2258|              10537|
|        2559|              10532|
|        2080|              10521|
|        1258|              10518|
|        1721|              10517|
+------------+-------------------+
only showing top 50 rows

+--------------+---------------------+
|hours_per_week|count(hours_per_week)|
+--------------+---------------------+
|            40|                25612|
|            50|                13029|
|            45|                12327|
|            60|                11804|
|            20|                11540|
|            35|                11485|
|            30|                11470|
|            25|                10936|
|            48|                10894|
|            15|                10841|
|            55|                10785|
|            38|                10709|
|            32|                10620|
|            36|                10617|
|            70|                10593|
|             8|                10583|
|            44|                10581|
|            16|                10550|
|            56|                10541|
|             2|                10499|
|            10|                10498|
|            90|                10495|
|            42|                10480|
|            52|                10475|
|            24|                10467|
|            65|                10465|
|            99|                10464|
|            88|                10452|
|            54|                10450|
|            28|                10450|
|            37|                10448|
|            85|                10444|
|            11|                10440|
|            94|                10436|
|            92|                10432|
|            46|                10431|
|            66|                10409|
|            96|                10409|
|            76|                10400|
|            74|                10393|
|            27|                10393|
|             5|                10387|
|            33|                10379|
|            58|                10374|
|             1|                10369|
|             4|                10369|
|            22|                10367|
|            53|                10363|
|            49|                10359|
|             6|                10353|
+--------------+---------------------+
only showing top 50 rows

+--------------------+---------------------+
|      native_country|count(native_country)|
+--------------------+---------------------+
|       United-States|                51942|
|              Mexico|                23801|
|                   ?|                23591|
|         El-Salvador|                23436|
|  Dominican-Republic|                23397|
|              Poland|                23381|
|             Germany|                23322|
|               China|                23312|
|             Hungary|                23282|
|Outlying-US(Guam-...|                23273|
|                Peru|                23227|
|         Philippines|                23220|
|            Columbia|                23218|
|               Italy|                23205|
|               India|                23193|
|                Cuba|                23186|
|           Guatemala|                23186|
|     Trinadad&Tobago|                23140|
|               Japan|                23136|
|              Taiwan|                23134|
|               South|                23128|
|           Nicaragua|                23121|
|            Cambodia|                23117|
|             England|                23114|
|            Honduras|                23075|
|              France|                23060|
|             Vietnam|                23057|
|            Thailand|                23046|
|             Ecuador|                22983|
|               Haiti|                22979|
|          Yugoslavia|                22972|
|                Iran|                22964|
|             Ireland|                22943|
|             Jamaica|                22922|
|              Greece|                22908|
|  Holand-Netherlands|                22905|
|              Canada|                22905|
|            Scotland|                22904|
|         Puerto-Rico|                22900|
|                Hong|                22882|
|                Laos|                22788|
|            Portugal|                22745|
+--------------------+---------------------+

+------+-------------+
|salary|count(salary)|
+------+-------------+
| <=50K|       508522|
|  >50K|       491478|
+------+-------------+

In [10]:
dfs.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in dfs.columns]).show()

+---+---------+------+---------+-------------+--------------+----------+------------+----+------+------------+------------+--------------+--------------+------+
|age|workclass|fnlwgt|education|education_num|marital_status|occupation|relationship|race|gender|capital_gain|capital_loss|hours_per_week|native_country|salary|
+---+---------+------+---------+-------------+--------------+----------+------------+----+------+------------+------------+--------------+--------------+------+
|  0|        0|     0|        0|            0|             0|         0|           0|   0|     0|           0|           0|             0|             0|     0|
+---+---------+------+---------+-------------+--------------+----------+------------+----+------+------------+------------+--------------+--------------+------+

### Replaceing ? for the workclass with Not-specified

In [11]:
dfs.select('workclass').distinct().collect()

[Row(workclass='Self-emp-not-inc'),
 Row(workclass='Local-gov'),
 Row(workclass='State-gov'),
 Row(workclass='Private'),
 Row(workclass='Without-pay'),
 Row(workclass='Federal-gov'),
 Row(workclass='Never-worked'),
 Row(workclass='?'),
 Row(workclass='Self-emp-inc')]

In [12]:
dfs=dfs.withColumn('workclass', regexp_replace('workclass', "\\?", 'Not-specified'))
dfs.select('workclass').distinct().collect()

[Row(workclass='Self-emp-not-inc'),
 Row(workclass='Local-gov'),
 Row(workclass='State-gov'),
 Row(workclass='Not-specified'),
 Row(workclass='Private'),
 Row(workclass='Without-pay'),
 Row(workclass='Federal-gov'),
 Row(workclass='Never-worked'),
 Row(workclass='Self-emp-inc')]

### Replaceing ? for the occupation with not specified

In [13]:
dfs.select('occupation').distinct().collect()

[Row(occupation='Sales'),
 Row(occupation='Exec-managerial'),
 Row(occupation='Prof-specialty'),
 Row(occupation='Handlers-cleaners'),
 Row(occupation='Farming-fishing'),
 Row(occupation='Craft-repair'),
 Row(occupation='Transport-moving'),
 Row(occupation='Priv-house-serv'),
 Row(occupation='Protective-serv'),
 Row(occupation='Other-service'),
 Row(occupation='Tech-support'),
 Row(occupation='Machine-op-inspct'),
 Row(occupation='Armed-Forces'),
 Row(occupation='?'),
 Row(occupation='Adm-clerical')]

In [14]:
dfs=dfs.withColumn('occupation', regexp_replace('occupation', "\\?", 'Not-specified'))
dfs.select('occupation').distinct().collect()

[Row(occupation='Sales'),
 Row(occupation='Exec-managerial'),
 Row(occupation='Prof-specialty'),
 Row(occupation='Handlers-cleaners'),
 Row(occupation='Farming-fishing'),
 Row(occupation='Not-specified'),
 Row(occupation='Craft-repair'),
 Row(occupation='Transport-moving'),
 Row(occupation='Priv-house-serv'),
 Row(occupation='Protective-serv'),
 Row(occupation='Other-service'),
 Row(occupation='Tech-support'),
 Row(occupation='Machine-op-inspct'),
 Row(occupation='Armed-Forces'),
 Row(occupation='Adm-clerical')]

### Replaceing ? for the native_country with not specified

In [15]:
dfs.select('native_country').distinct().collect()

[Row(native_country='Philippines'),
 Row(native_country='Germany'),
 Row(native_country='Cambodia'),
 Row(native_country='France'),
 Row(native_country='Greece'),
 Row(native_country='Taiwan'),
 Row(native_country='Ecuador'),
 Row(native_country='Nicaragua'),
 Row(native_country='Hong'),
 Row(native_country='Peru'),
 Row(native_country='India'),
 Row(native_country='China'),
 Row(native_country='Italy'),
 Row(native_country='Holand-Netherlands'),
 Row(native_country='Cuba'),
 Row(native_country='South'),
 Row(native_country='Iran'),
 Row(native_country='Ireland'),
 Row(native_country='Thailand'),
 Row(native_country='Laos'),
 Row(native_country='El-Salvador'),
 Row(native_country='Mexico'),
 Row(native_country='Guatemala'),
 Row(native_country='Honduras'),
 Row(native_country='Yugoslavia'),
 Row(native_country='Puerto-Rico'),
 Row(native_country='Jamaica'),
 Row(native_country='Canada'),
 Row(native_country='United-States'),
 Row(native_country='Dominican-Republic'),
 Row(native_country='Outlying-US(Guam-USVI-etc)'),
 Row(native_country='Japan'),
 Row(native_country='England'),
 Row(native_country='Haiti'),
 Row(native_country='Poland'),
 Row(native_country='Portugal'),
 Row(native_country='?'),
 Row(native_country='Columbia'),
 Row(native_country='Scotland'),
 Row(native_country='Hungary'),
 Row(native_country='Vietnam'),
 Row(native_country='Trinadad&Tobago')]

In [16]:
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "\\?", 'Not-specified'))
dfs.select('native_country').distinct().collect()

[Row(native_country='Philippines'),
 Row(native_country='Germany'),
 Row(native_country='Cambodia'),
 Row(native_country='France'),
 Row(native_country='Greece'),
 Row(native_country='Taiwan'),
 Row(native_country='Ecuador'),
 Row(native_country='Nicaragua'),
 Row(native_country='Hong'),
 Row(native_country='Peru'),
 Row(native_country='India'),
 Row(native_country='China'),
 Row(native_country='Not-specified'),
 Row(native_country='Italy'),
 Row(native_country='Holand-Netherlands'),
 Row(native_country='Cuba'),
 Row(native_country='South'),
 Row(native_country='Iran'),
 Row(native_country='Ireland'),
 Row(native_country='Thailand'),
 Row(native_country='Laos'),
 Row(native_country='El-Salvador'),
 Row(native_country='Mexico'),
 Row(native_country='Guatemala'),
 Row(native_country='Honduras'),
 Row(native_country='Yugoslavia'),
 Row(native_country='Puerto-Rico'),
 Row(native_country='Jamaica'),
 Row(native_country='Canada'),
 Row(native_country='United-States'),
 Row(native_country='Dominican-Republic'),
 Row(native_country='Outlying-US(Guam-USVI-etc)'),
 Row(native_country='Japan'),
 Row(native_country='England'),
 Row(native_country='Haiti'),
 Row(native_country='Poland'),
 Row(native_country='Portugal'),
 Row(native_country='Columbia'),
 Row(native_country='Scotland'),
 Row(native_country='Hungary'),
 Row(native_country='Vietnam'),
 Row(native_country='Trinadad&Tobago')]

### Make the values for education consistant

In [17]:
dfs.select('education').distinct().collect()

[Row(education='Masters'),
 Row(education='10th'),
 Row(education='5th-6th'),
 Row(education='Assoc-acdm'),
 Row(education='Assoc-voc'),
 Row(education='7th-8th'),
 Row(education='9th'),
 Row(education='HS-grad'),
 Row(education='Bachelors'),
 Row(education='11th'),
 Row(education='1st-4th'),
 Row(education='Preschool'),
 Row(education='12th'),
 Row(education='Doctorate'),
 Row(education='Some-college'),
 Row(education='Prof-school')]

In [18]:
dfs=dfs.withColumn('education', regexp_replace('education', "5th-6th", '6th'))
dfs=dfs.withColumn('education', regexp_replace('education', "7th-8th", '8th'))
dfs=dfs.withColumn('education', regexp_replace('education', "1st-4th", '4th'))

dfs.select('education').distinct().collect()

[Row(education='Masters'),
 Row(education='10th'),
 Row(education='6th'),
 Row(education='Assoc-acdm'),
 Row(education='Assoc-voc'),
 Row(education='9th'),
 Row(education='HS-grad'),
 Row(education='Bachelors'),
 Row(education='11th'),
 Row(education='Preschool'),
 Row(education='8th'),
 Row(education='12th'),
 Row(education='Doctorate'),
 Row(education='4th'),
 Row(education='Some-college'),
 Row(education='Prof-school')]

### Change the values for salary to be 0 if <=50k, and 1 if >50k

In [19]:
dfs.select('salary').distinct().collect()

[Row(salary='<=50K'), Row(salary='>50K')]

In [20]:
dfs=dfs.withColumn('salary', regexp_replace('salary', "<=50K", '50000'))
dfs=dfs.withColumn('salary', regexp_replace('salary', ">50K", '50001'))
dfs = dfs.withColumn("salary", dfs["salary"].cast('int'))

dfs.select('salary').distinct().collect()

[Row(salary=50000), Row(salary=50001)]

In [21]:
dfs = dfs.withColumn("salary", dfs["salary"].cast('string'))

dfs=dfs.withColumn('salary', regexp_replace('salary', "50000", '0'))
dfs=dfs.withColumn('salary', regexp_replace('salary', "50001", '1'))
dfs = dfs.withColumn("salary", dfs["salary"].cast('int'))

dfs.select('salary').distinct().collect()

[Row(salary=1), Row(salary=0)]

### Summing the values for the fnlwgt column, and getting the percentage of fnlwgt

In [22]:
sum_fnlwgt=dfs.select(sum('fnlwgt')).collect()[0][0]
sum_fnlwgt

196336661945

In [23]:
dfs=dfs.withColumn('fnlwgt_percentage',round((dfs.fnlwgt/sum_fnlwgt)*100,2))
dfs.show()

+---+----------------+------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+-----------------+
|age|       workclass|fnlwgt|   education|education_num|      marital_status|       occupation| relationship|              race|gender|capital_gain|capital_loss|hours_per_week|native_country|salary|fnlwgt_percentage|
+---+----------------+------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+-----------------+
| 39|       State-gov| 77516|   Bachelors|           13|       Never-married|     Adm-clerical|Not-in-family|             White|  Male|        2174|           0|            40| United-States|     0|              0.0|
| 50|Self-emp-not-inc| 83311|   Bachelors|           13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            13| United-States|     0|              0.0|
| 38|         Private|215646|     HS-grad|            9|            Divorced|Handlers-cleaners|Not-in-family|             White|  Male|           0|           0|            40| United-States|     0|              0.0|
| 53|         Private|234721|        11th|            7|  Married-civ-spouse|Handlers-cleaners|      Husband|             Black|  Male|           0|           0|            40| United-States|     0|              0.0|
| 28|         Private|338409|   Bachelors|           13|  Married-civ-spouse|   Prof-specialty|         Wife|             Black|Female|           0|           0|            40|          Cuba|     0|              0.0|
| 37|         Private|284582|     Masters|           14|  Married-civ-spouse|  Exec-managerial|         Wife|             White|Female|           0|           0|            40| United-States|     0|              0.0|
| 49|         Private|160187|         9th|            5|Married-spouse-ab...|    Other-service|Not-in-family|             Black|Female|           0|           0|            16|       Jamaica|     0|              0.0|
| 52|Self-emp-not-inc|209642|     HS-grad|            9|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            45| United-States|     1|              0.0|
| 31|         Private| 45781|     Masters|           14|       Never-married|   Prof-specialty|Not-in-family|             White|Female|       14084|           0|            50| United-States|     1|              0.0|
| 42|         Private|159449|   Bachelors|           13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|        5178|           0|            40| United-States|     1|              0.0|
| 37|         Private|280464|Some-college|           10|  Married-civ-spouse|  Exec-managerial|      Husband|             Black|  Male|           0|           0|            80| United-States|     1|              0.0|
| 30|       State-gov|141297|   Bachelors|           13|  Married-civ-spouse|   Prof-specialty|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40|         India|     1|              0.0|
| 23|         Private|122272|   Bachelors|           13|       Never-married|     Adm-clerical|    Own-child|             White|Female|           0|           0|            30| United-States|     0|              0.0|
| 32|         Private|205019|  Assoc-acdm|           12|       Never-married|            Sales|Not-in-family|             Black|  Male|           0|           0|            50| United-States|     0|              0.0|
| 40|         Private|121772|   Assoc-voc|           11|  Married-civ-spouse|     Craft-repair|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40| Not-specified|     1|              0.0|
| 34|         Private|245487|         8th|            4|  Married-civ-spouse| Transport-moving|      Husband|Amer-Indian-Eskimo|  Male|           0|           0|            45|        Mexico|     0|              0.0|
| 25|Self-emp-not-inc|176756|     HS-grad|            9|       Never-married|  Farming-fishing|    Own-child|             White|  Male|           0|           0|            35| United-States|     0|              0.0|
| 32|         Private|186824|     HS-grad|            9|       Never-married|Machine-op-inspct|    Unmarried|             White|  Male|           0|           0|            40| United-States|     0|              0.0|
| 38|         Private| 28887|        11th|            7|  Married-civ-spouse|            Sales|      Husband|             White|  Male|           0|           0|            50| United-States|     0|              0.0|
| 43|Self-emp-not-inc|292175|     Masters|           14|            Divorced|  Exec-managerial|    Unmarried|             White|Female|           0|           0|            45| United-States|     1|              0.0|
+---+----------------+------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+-----------------+
only showing top 20 rows

### The diffrence of  capital gain and loss

In [24]:
dfs=dfs.withColumn('diffrence_capital_gain_loos',(dfs.capital_gain-dfs.capital_loss))
dfs.show()

+---+----------------+------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+-----------------+---------------------------+
|age|       workclass|fnlwgt|   education|education_num|      marital_status|       occupation| relationship|              race|gender|capital_gain|capital_loss|hours_per_week|native_country|salary|fnlwgt_percentage|diffrence_capital_gain_loos|
+---+----------------+------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+-----------------+---------------------------+
| 39|       State-gov| 77516|   Bachelors|           13|       Never-married|     Adm-clerical|Not-in-family|             White|  Male|        2174|           0|            40| United-States|     0|              0.0|                       2174|
| 50|Self-emp-not-inc| 83311|   Bachelors|           13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            13| United-States|     0|              0.0|                          0|
| 38|         Private|215646|     HS-grad|            9|            Divorced|Handlers-cleaners|Not-in-family|             White|  Male|           0|           0|            40| United-States|     0|              0.0|                          0|
| 53|         Private|234721|        11th|            7|  Married-civ-spouse|Handlers-cleaners|      Husband|             Black|  Male|           0|           0|            40| United-States|     0|              0.0|                          0|
| 28|         Private|338409|   Bachelors|           13|  Married-civ-spouse|   Prof-specialty|         Wife|             Black|Female|           0|           0|            40|          Cuba|     0|              0.0|                          0|
| 37|         Private|284582|     Masters|           14|  Married-civ-spouse|  Exec-managerial|         Wife|             White|Female|           0|           0|            40| United-States|     0|              0.0|                          0|
| 49|         Private|160187|         9th|            5|Married-spouse-ab...|    Other-service|Not-in-family|             Black|Female|           0|           0|            16|       Jamaica|     0|              0.0|                          0|
| 52|Self-emp-not-inc|209642|     HS-grad|            9|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            45| United-States|     1|              0.0|                          0|
| 31|         Private| 45781|     Masters|           14|       Never-married|   Prof-specialty|Not-in-family|             White|Female|       14084|           0|            50| United-States|     1|              0.0|                      14084|
| 42|         Private|159449|   Bachelors|           13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|        5178|           0|            40| United-States|     1|              0.0|                       5178|
| 37|         Private|280464|Some-college|           10|  Married-civ-spouse|  Exec-managerial|      Husband|             Black|  Male|           0|           0|            80| United-States|     1|              0.0|                          0|
| 30|       State-gov|141297|   Bachelors|           13|  Married-civ-spouse|   Prof-specialty|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40|         India|     1|              0.0|                          0|
| 23|         Private|122272|   Bachelors|           13|       Never-married|     Adm-clerical|    Own-child|             White|Female|           0|           0|            30| United-States|     0|              0.0|                          0|
| 32|         Private|205019|  Assoc-acdm|           12|       Never-married|            Sales|Not-in-family|             Black|  Male|           0|           0|            50| United-States|     0|              0.0|                          0|
| 40|         Private|121772|   Assoc-voc|           11|  Married-civ-spouse|     Craft-repair|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40| Not-specified|     1|              0.0|                          0|
| 34|         Private|245487|         8th|            4|  Married-civ-spouse| Transport-moving|      Husband|Amer-Indian-Eskimo|  Male|           0|           0|            45|        Mexico|     0|              0.0|                          0|
| 25|Self-emp-not-inc|176756|     HS-grad|            9|       Never-married|  Farming-fishing|    Own-child|             White|  Male|           0|           0|            35| United-States|     0|              0.0|                          0|
| 32|         Private|186824|     HS-grad|            9|       Never-married|Machine-op-inspct|    Unmarried|             White|  Male|           0|           0|            40| United-States|     0|              0.0|                          0|
| 38|         Private| 28887|        11th|            7|  Married-civ-spouse|            Sales|      Husband|             White|  Male|           0|           0|            50| United-States|     0|              0.0|                          0|
| 43|Self-emp-not-inc|292175|     Masters|           14|            Divorced|  Exec-managerial|    Unmarried|             White|Female|           0|           0|            45| United-States|     1|              0.0|                          0|
+---+----------------+------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+-----------------+---------------------------+
only showing top 20 rows

In [25]:
dfs=dfs.withColumn('profit',when((dfs.diffrence_capital_gain_loos >0), lit(1)).when((dfs.diffrence_capital_gain_loos ==0), lit(0)).when((dfs.diffrence_capital_gain_loos <0), lit(-1)))
dfs.show()

+---+----------------+------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+-----------------+---------------------------+------+
|age|       workclass|fnlwgt|   education|education_num|      marital_status|       occupation| relationship|              race|gender|capital_gain|capital_loss|hours_per_week|native_country|salary|fnlwgt_percentage|diffrence_capital_gain_loos|profit|
+---+----------------+------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+-----------------+---------------------------+------+
| 39|       State-gov| 77516|   Bachelors|           13|       Never-married|     Adm-clerical|Not-in-family|             White|  Male|        2174|           0|            40| United-States|     0|              0.0|                       2174|     1|
| 50|Self-emp-not-inc| 83311|   Bachelors|           13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            13| United-States|     0|              0.0|                          0|     0|
| 38|         Private|215646|     HS-grad|            9|            Divorced|Handlers-cleaners|Not-in-family|             White|  Male|           0|           0|            40| United-States|     0|              0.0|                          0|     0|
| 53|         Private|234721|        11th|            7|  Married-civ-spouse|Handlers-cleaners|      Husband|             Black|  Male|           0|           0|            40| United-States|     0|              0.0|                          0|     0|
| 28|         Private|338409|   Bachelors|           13|  Married-civ-spouse|   Prof-specialty|         Wife|             Black|Female|           0|           0|            40|          Cuba|     0|              0.0|                          0|     0|
| 37|         Private|284582|     Masters|           14|  Married-civ-spouse|  Exec-managerial|         Wife|             White|Female|           0|           0|            40| United-States|     0|              0.0|                          0|     0|
| 49|         Private|160187|         9th|            5|Married-spouse-ab...|    Other-service|Not-in-family|             Black|Female|           0|           0|            16|       Jamaica|     0|              0.0|                          0|     0|
| 52|Self-emp-not-inc|209642|     HS-grad|            9|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            45| United-States|     1|              0.0|                          0|     0|
| 31|         Private| 45781|     Masters|           14|       Never-married|   Prof-specialty|Not-in-family|             White|Female|       14084|           0|            50| United-States|     1|              0.0|                      14084|     1|
| 42|         Private|159449|   Bachelors|           13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|        5178|           0|            40| United-States|     1|              0.0|                       5178|     1|
| 37|         Private|280464|Some-college|           10|  Married-civ-spouse|  Exec-managerial|      Husband|             Black|  Male|           0|           0|            80| United-States|     1|              0.0|                          0|     0|
| 30|       State-gov|141297|   Bachelors|           13|  Married-civ-spouse|   Prof-specialty|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40|         India|     1|              0.0|                          0|     0|
| 23|         Private|122272|   Bachelors|           13|       Never-married|     Adm-clerical|    Own-child|             White|Female|           0|           0|            30| United-States|     0|              0.0|                          0|     0|
| 32|         Private|205019|  Assoc-acdm|           12|       Never-married|            Sales|Not-in-family|             Black|  Male|           0|           0|            50| United-States|     0|              0.0|                          0|     0|
| 40|         Private|121772|   Assoc-voc|           11|  Married-civ-spouse|     Craft-repair|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40| Not-specified|     1|              0.0|                          0|     0|
| 34|         Private|245487|         8th|            4|  Married-civ-spouse| Transport-moving|      Husband|Amer-Indian-Eskimo|  Male|           0|           0|            45|        Mexico|     0|              0.0|                          0|     0|
| 25|Self-emp-not-inc|176756|     HS-grad|            9|       Never-married|  Farming-fishing|    Own-child|             White|  Male|           0|           0|            35| United-States|     0|              0.0|                          0|     0|
| 32|         Private|186824|     HS-grad|            9|       Never-married|Machine-op-inspct|    Unmarried|             White|  Male|           0|           0|            40| United-States|     0|              0.0|                          0|     0|
| 38|         Private| 28887|        11th|            7|  Married-civ-spouse|            Sales|      Husband|             White|  Male|           0|           0|            50| United-States|     0|              0.0|                          0|     0|
| 43|Self-emp-not-inc|292175|     Masters|           14|            Divorced|  Exec-managerial|    Unmarried|             White|Female|           0|           0|            45| United-States|     1|              0.0|                          0|     0|
+---+----------------+------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+-----------------+---------------------------+------+
only showing top 20 rows

In [26]:
dfs.select('profit').distinct().collect()

[Row(profit=-1), Row(profit=1), Row(profit=0)]

In [27]:
dfs.filter(dfs.profit == -1).show(truncate=False)

+---+----------------+------+------------+-------------+------------------+----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+-----------------+---------------------------+------+
|age|workclass       |fnlwgt|education   |education_num|marital_status    |occupation      |relationship |race              |gender|capital_gain|capital_loss|hours_per_week|native_country|salary|fnlwgt_percentage|diffrence_capital_gain_loos|profit|
+---+----------------+------+------------+-------------+------------------+----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+-----------------+---------------------------+------+
|43 |Private         |117037|11th        |7            |Married-civ-spouse|Transport-moving|Husband      |White             |Male  |0           |2042        |40            |United-States |0     |0.0              |-2042                      |-1    |
|45 |Private         |386940|Bachelors   |13           |Divorced          |Exec-managerial |Own-child    |White             |Male  |0           |1408        |40            |United-States |0     |0.0              |-1408                      |-1    |
|47 |Private         |51835 |Prof-school |15           |Married-civ-spouse|Prof-specialty  |Wife         |White             |Female|0           |1902        |60            |Honduras      |1     |0.0              |-1902                      |-1    |
|30 |Private         |117747|HS-grad     |9            |Married-civ-spouse|Sales           |Wife         |Asian-Pac-Islander|Female|0           |1573        |35            |Not-specified |0     |0.0              |-1573                      |-1    |
|48 |Self-emp-not-inc|191277|Doctorate   |16           |Married-civ-spouse|Prof-specialty  |Husband      |White             |Male  |0           |1902        |60            |United-States |1     |0.0              |-1902                      |-1    |
|56 |Self-emp-not-inc|335605|HS-grad     |9            |Married-civ-spouse|Other-service   |Husband      |White             |Male  |0           |1887        |50            |Canada        |1     |0.0              |-1887                      |-1    |
|20 |Private         |111697|Some-college|10           |Never-married     |Adm-clerical    |Own-child    |White             |Female|0           |1719        |28            |United-States |0     |0.0              |-1719                      |-1    |
|24 |Private         |43323 |HS-grad     |9            |Never-married     |Other-service   |Not-in-family|White             |Female|0           |1762        |40            |United-States |0     |0.0              |-1762                      |-1    |
|45 |Private         |196584|Assoc-voc   |11           |Never-married     |Prof-specialty  |Not-in-family|White             |Female|0           |1564        |40            |United-States |1     |0.0              |-1564                      |-1    |
|64 |Private         |181232|11th        |7            |Married-civ-spouse|Craft-repair    |Husband      |White             |Male  |0           |2179        |40            |United-States |0     |0.0              |-2179                      |-1    |
|71 |Self-emp-not-inc|494223|Some-college|10           |Separated         |Sales           |Unmarried    |Black             |Male  |0           |1816        |2             |United-States |0     |0.0              |-1816                      |-1    |
|27 |Private         |124953|HS-grad     |9            |Never-married     |Other-service   |Not-in-family|White             |Male  |0           |1980        |40            |United-States |0     |0.0              |-1980                      |-1    |
|51 |Private         |96062 |Some-college|10           |Married-civ-spouse|Sales           |Husband      |White             |Male  |0           |1977        |40            |United-States |1     |0.0              |-1977                      |-1    |
|26 |Private         |397317|Masters     |14           |Never-married     |Prof-specialty  |Not-in-family|White             |Female|0           |1876        |40            |United-States |0     |0.0              |-1876                      |-1    |
|42 |Local-gov       |254817|Some-college|10           |Never-married     |Prof-specialty  |Not-in-family|White             |Female|0           |1340        |40            |United-States |0     |0.0              |-1340                      |-1    |
|90 |Private         |51744 |HS-grad     |9            |Never-married     |Other-service   |Not-in-family|Black             |Male  |0           |2206        |40            |United-States |0     |0.0              |-2206                      |-1    |
|38 |Private         |179488|Some-college|10           |Divorced          |Craft-repair    |Not-in-family|White             |Male  |0           |1741        |40            |United-States |0     |0.0              |-1741                      |-1    |
|40 |Private         |207578|Assoc-acdm  |12           |Married-civ-spouse|Tech-support    |Husband      |White             |Male  |0           |1977        |60            |United-States |1     |0.0              |-1977                      |-1    |
|43 |Private         |50356 |Some-college|10           |Married-civ-spouse|Craft-repair    |Husband      |White             |Male  |0           |1485        |50            |United-States |0     |0.0              |-1485                      |-1    |
|43 |Private         |187728|Some-college|10           |Married-civ-spouse|Prof-specialty  |Wife         |White             |Female|0           |1887        |50            |United-States |1     |0.0              |-1887                      |-1    |
+---+----------------+------+------------+-------------+------------------+----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+-----------------+---------------------------+------+
only showing top 20 rows

### Finding if someone is workholic which is 1, or no which is 0

In [28]:
dfs=dfs.withColumn('workaholic',when((dfs.hours_per_week >=70), lit(1)).when((dfs.hours_per_week <70), lit(0)))
dfs.show()

+---+----------------+------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+-----------------+---------------------------+------+----------+
|age|       workclass|fnlwgt|   education|education_num|      marital_status|       occupation| relationship|              race|gender|capital_gain|capital_loss|hours_per_week|native_country|salary|fnlwgt_percentage|diffrence_capital_gain_loos|profit|workaholic|
+---+----------------+------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+-----------------+---------------------------+------+----------+
| 39|       State-gov| 77516|   Bachelors|           13|       Never-married|     Adm-clerical|Not-in-family|             White|  Male|        2174|           0|            40| United-States|     0|              0.0|                       2174|     1|         0|
| 50|Self-emp-not-inc| 83311|   Bachelors|           13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            13| United-States|     0|              0.0|                          0|     0|         0|
| 38|         Private|215646|     HS-grad|            9|            Divorced|Handlers-cleaners|Not-in-family|             White|  Male|           0|           0|            40| United-States|     0|              0.0|                          0|     0|         0|
| 53|         Private|234721|        11th|            7|  Married-civ-spouse|Handlers-cleaners|      Husband|             Black|  Male|           0|           0|            40| United-States|     0|              0.0|                          0|     0|         0|
| 28|         Private|338409|   Bachelors|           13|  Married-civ-spouse|   Prof-specialty|         Wife|             Black|Female|           0|           0|            40|          Cuba|     0|              0.0|                          0|     0|         0|
| 37|         Private|284582|     Masters|           14|  Married-civ-spouse|  Exec-managerial|         Wife|             White|Female|           0|           0|            40| United-States|     0|              0.0|                          0|     0|         0|
| 49|         Private|160187|         9th|            5|Married-spouse-ab...|    Other-service|Not-in-family|             Black|Female|           0|           0|            16|       Jamaica|     0|              0.0|                          0|     0|         0|
| 52|Self-emp-not-inc|209642|     HS-grad|            9|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            45| United-States|     1|              0.0|                          0|     0|         0|
| 31|         Private| 45781|     Masters|           14|       Never-married|   Prof-specialty|Not-in-family|             White|Female|       14084|           0|            50| United-States|     1|              0.0|                      14084|     1|         0|
| 42|         Private|159449|   Bachelors|           13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|        5178|           0|            40| United-States|     1|              0.0|                       5178|     1|         0|
| 37|         Private|280464|Some-college|           10|  Married-civ-spouse|  Exec-managerial|      Husband|             Black|  Male|           0|           0|            80| United-States|     1|              0.0|                          0|     0|         1|
| 30|       State-gov|141297|   Bachelors|           13|  Married-civ-spouse|   Prof-specialty|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40|         India|     1|              0.0|                          0|     0|         0|
| 23|         Private|122272|   Bachelors|           13|       Never-married|     Adm-clerical|    Own-child|             White|Female|           0|           0|            30| United-States|     0|              0.0|                          0|     0|         0|
| 32|         Private|205019|  Assoc-acdm|           12|       Never-married|            Sales|Not-in-family|             Black|  Male|           0|           0|            50| United-States|     0|              0.0|                          0|     0|         0|
| 40|         Private|121772|   Assoc-voc|           11|  Married-civ-spouse|     Craft-repair|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40| Not-specified|     1|              0.0|                          0|     0|         0|
| 34|         Private|245487|         8th|            4|  Married-civ-spouse| Transport-moving|      Husband|Amer-Indian-Eskimo|  Male|           0|           0|            45|        Mexico|     0|              0.0|                          0|     0|         0|
| 25|Self-emp-not-inc|176756|     HS-grad|            9|       Never-married|  Farming-fishing|    Own-child|             White|  Male|           0|           0|            35| United-States|     0|              0.0|                          0|     0|         0|
| 32|         Private|186824|     HS-grad|            9|       Never-married|Machine-op-inspct|    Unmarried|             White|  Male|           0|           0|            40| United-States|     0|              0.0|                          0|     0|         0|
| 38|         Private| 28887|        11th|            7|  Married-civ-spouse|            Sales|      Husband|             White|  Male|           0|           0|            50| United-States|     0|              0.0|                          0|     0|         0|
| 43|Self-emp-not-inc|292175|     Masters|           14|            Divorced|  Exec-managerial|    Unmarried|             White|Female|           0|           0|            45| United-States|     1|              0.0|                          0|     0|         0|
+---+----------------+------+------------+-------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+-----------------+---------------------------+------+----------+
only showing top 20 rows

### Replacing the native_country with in united state or not

In [29]:
dfs.select('native_country').distinct().collect()

[Row(native_country='Philippines'),
 Row(native_country='Germany'),
 Row(native_country='Cambodia'),
 Row(native_country='France'),
 Row(native_country='Greece'),
 Row(native_country='Taiwan'),
 Row(native_country='Ecuador'),
 Row(native_country='Nicaragua'),
 Row(native_country='Hong'),
 Row(native_country='Peru'),
 Row(native_country='India'),
 Row(native_country='China'),
 Row(native_country='Not-specified'),
 Row(native_country='Italy'),
 Row(native_country='Holand-Netherlands'),
 Row(native_country='Cuba'),
 Row(native_country='South'),
 Row(native_country='Iran'),
 Row(native_country='Ireland'),
 Row(native_country='Thailand'),
 Row(native_country='Laos'),
 Row(native_country='El-Salvador'),
 Row(native_country='Mexico'),
 Row(native_country='Guatemala'),
 Row(native_country='Honduras'),
 Row(native_country='Yugoslavia'),
 Row(native_country='Puerto-Rico'),
 Row(native_country='Jamaica'),
 Row(native_country='Canada'),
 Row(native_country='United-States'),
 Row(native_country='Dominican-Republic'),
 Row(native_country='Outlying-US(Guam-USVI-etc)'),
 Row(native_country='Japan'),
 Row(native_country='England'),
 Row(native_country='Haiti'),
 Row(native_country='Poland'),
 Row(native_country='Portugal'),
 Row(native_country='Columbia'),
 Row(native_country='Scotland'),
 Row(native_country='Hungary'),
 Row(native_country='Vietnam'),
 Row(native_country='Trinadad&Tobago')]

In [30]:
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Philippines", 'Asia'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Germany", 'Europe'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Cambodia", 'Asia'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "France", 'Europe'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Greece", 'Europe'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Taiwan", 'Asia'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Ecuador", 'South_America'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Nicaragua", 'Central_America'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Hong", 'Asia'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Peru", 'South_America'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "India", 'Asia'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "China", 'Asia'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Italy", 'Europe'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Holand-Netherlands", 'Europe'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Cuba", 'Caribbean'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Iran", 'Middle_East'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Ireland", 'Europe'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Thailand", 'Asia'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Laos", 'Asia'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "El-Salvador", 'Central_America'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Mexico", 'North_America'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Guatemala", 'Central_America'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Honduras", 'Central_America'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Yugoslavia", 'Europe'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Puerto-Rico", 'Caribbean'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Jamaica", 'Caribbean'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Canada", 'North_America'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "United-States", 'North_America'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Dominican-Republic", 'Caribbean'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Outlying-US\(Guam-USVI-etc\)", 'Caribbean'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Japan", 'Asia'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "England", 'United_kingdom'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Haiti", 'Caribbean'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Poland", 'Europe'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Portugal", 'Europe'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Columbia", 'South_America'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Scotland", 'United_kingdom'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Hungary", 'Europe'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Vietnam", 'Asia'))
dfs=dfs.withColumn('native_country', regexp_replace('native_country', "Trinadad&Tobago", 'Caribbean'))

In [31]:
dfs=dfs.where(dfs.native_country!='South')

In [32]:
dfs.select('native_country').distinct().collect()

[Row(native_country='Middle_East'),
 Row(native_country='Europe'),
 Row(native_country='Central_America'),
 Row(native_country='Not-specified'),
 Row(native_country='Caribbean'),
 Row(native_country='South_America'),
 Row(native_country='North_America'),
 Row(native_country='United_kingdom'),
 Row(native_country='Asia')]

In [33]:
dfs.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- education_num: integer (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- capital_gain: integer (nullable = true)
 |-- capital_loss: integer (nullable = true)
 |-- hours_per_week: integer (nullable = true)
 |-- native_country: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- fnlwgt_percentage: double (nullable = true)
 |-- diffrence_capital_gain_loos: integer (nullable = true)
 |-- profit: integer (nullable = true)
 |-- workaholic: integer (nullable = true)

In [34]:
pandasDF = dfs.toPandas()
pandasDF

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,salary,fnlwgt_percentage,diffrence_capital_gain_loos,profit,workaholic
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,North_America,0,0.0,2174,1,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,North_America,0,0.0,0,0,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,North_America,0,0.0,0,0,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,North_America,0,0.0,0,0,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Caribbean,0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976867,42,Never-worked,169069,Assoc-voc,2,Divorced,Sales,Husband,Asian-Pac-Islander,Male,2202,1340,37,Europe,1,0.0,862,1,0
976868,29,Self-emp-not-inc,192443,8th,3,Married-AF-spouse,Sales,Unmarried,Other,Male,2829,2246,32,Caribbean,1,0.0,583,1,0
976869,54,Federal-gov,36011,Bachelors,3,Married-spouse-absent,Armed-Forces,Unmarried,Amer-Indian-Eskimo,Female,1173,1594,97,North_America,1,0.0,-421,-1,1
976870,42,State-gov,197530,9th,4,Married-civ-spouse,Tech-support,Husband,White,Male,4416,1504,48,Caribbean,0,0.0,2912,1,0
976871,90,Local-gov,138026,HS-grad,14,Married-AF-spouse,Farming-fishing,Other-relative,Other,Female,11678,1651,56,Europe,1,0.0,10027,1,0

In [35]:
pandasDF.to_csv("Cleaned_Data.csv",index=False)

# THANK YOU :)